.movie-poster {
  width: 280px;
  height: 390px;
}

.rating-box {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto Mono', monospace;
}

.rate-me {
  margin: auto;
  display: flex;
  padding-left: 5vh;
}

.avg-container {
  display: flex;
  justify-content: left;  
  height: 2.8em;
}

.rated-star-icon,
.star-icon-poster {
  width: 2em;
  margin: 0vh 2vh;
}

.avg-rating-container {
  font-size: 2em;
}

.rate-fraction {
  margin-left: .2vh;
  font-size: 0.45em;
}

.user-rating {
  display: flex;
  align-items: center;
  padding-left: 5vh;
}

.rate-text {
  margin: auto;
  font-size: 1.2em;
}