.movie-page {
  height: 100vh;
  width: auto;
  background-size: cover;
}

.movie-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #0a97b0;
  height: 15vh;
  opacity: .8;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}

.back-btn {
  width: 6vw;
  margin-left: 4vw;
}

.back-btn:hover,
.back-btn:focus {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform .3s;
}

.movie-title {
  margin: auto;
  font-size: 6vh;
}

.movie-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
}

.movie-data-box {
  display: flex;
  font-size: larger;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fce8d5;
  border-radius: .5vh;
  height: 65vh;
  width: 55vw;
  opacity: .9;
  padding: 2vh;
  font-family: 'Roboto Mono', monospace;
  font-size: 2vh;
  overflow: scroll;
}

.movie-poster-selected {
  width: 280px;
  height: 390px;
  border: 2px outset #0a97b0;
}

.rating-box-selected {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 3vh;
  background-color: #0a97b0;
  width: 20vw;
  height: 15vh;
  font-size: 3vh;
  border-radius: 1vh;
}

.user-rating-box-selected {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0a97b0;
  width: 25vw;
  height: 15vh;
  font-size: 3vh;
  margin-top: 3vh;
  text-align: center;
  border-radius: 1vh;
}

.rating-system {
  margin: auto;
}

.movie-data {
  width: 60vw;
}

.delete-button {
  height: 2vh;
}

.movie-tagline {
  background-color: #0a97b0;
  height: 10vh;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  display: flex;
  font-style: italic;
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5vh;
}

.movie-datum {
  font-style: italic;
}

.user-rating-movie, 
.average-rating {
  margin: auto;
}

.rated-star-icon-moviePage,
.star-icon-poster-moviePage {
  width: 4vw;
  margin: 0vh 1vh 0vh 2vh;
}

.submit-rating-btn {
  height: 4vh;
  color: #0a97b0;
  border-radius: .8vh;
  border: none;
  background-color: #100f0f;
  margin: auto;
  margin-left: 1vh;
}

.submit-rating-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .3s;
}

.delete-button {
  height: 4vh;
  width: 8vh;
  margin: auto;
  color: #0a97b0;
  border-radius: .8vh;
  border: none;
  background-color: #100f0f;
}

.delete-button:hover,
.delete-button:focus {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0 0 3px 3px #100f0f;
  transform: scale(1.03);
  transition: transform .3s;
}
