.avg-container {
  display: flex;
  justify-content: left;
}

.rated-star-icon,
.star-icon-poster {
  width: 2vw;
  margin: 0vh 1vh 0vh 2vh;
}

.rate-fraction {
  margin-left: .2vh;
  font-size: 1.2vw;
}

.movie-poster {
  width: 280px;
  height: 390px;
}

.rating-box {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto Mono', monospace;
}

.rate-me {
  margin: auto;
  font-size: 1.5vw;
}

.user-rating {
  display: flex;
  align-items: center;
}