.nav {
  width: 100vw;
  height: 15vh;

  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0a97b0;
}

.nav-title {
  width: 25vw;
  margin: auto;
  padding-right: 4vw;
  font-size: 4vw;
  font-family: 'Ranchers', cursive;
  color: black;
  letter-spacing: 0.2vw;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.nav-btn-box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 25vw;  
  margin: auto;
}

.welcome-message {
  font-size: 3vh;

  margin: auto;
  font-family: 'Roboto Mono', monospace;
}

.title-span {
  font-family: 'Ranchers', cursive;
  margin: .5vw;
  font-size: 4vw;
  padding-bottom: 1vh;
}

.login-btn,
.dope-movie-btn {
  width: 11vw;
  height: 6vh;
  font-size: 2.5vh;
  color: #0a97b0;
  border-radius: .8vh;
  border: none;
  background-color: #100f0f;
  margin: auto;
  font-size: 2vh;
}

.login-btn:hover, 
.login-btn:focus,
.dope-movie-btn:hover,
.dope-movie-btn:focus {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0 0 3px 3px #100f0f;
  transform: scale(1.03);
  transition: transform .3s;
}

