.nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  border: 1px solid black;
}

.nav-title {
  padding: 1%;
  width: 10vw;
  margin: auto;
}

.search-bar {
  height: 60%;
  width: 50%;
  margin: auto;
}

.login-btn {
  height: 30%;
  width: 15%;
  margin: auto;
}
